{% extends '::base.html.twig' %}
{% block page %}
    <script>
        $( document ).on( "pagecreate", "#demo-intro", function() {
            $( document ).on( "swipeleft swiperight", "#list li", function( event ) {
                var listitem = $( this ),
                        dir = event.type === "swipeleft" ? "left" : "right",
                        transition = $.support.cssTransform3d ? dir : false;
                confirmAndDelete( listitem, transition );
            });

            if ( ! $.mobile.support.touch ) {
                $( "#list" ).removeClass( "touch" );
                $( ".delete" ).on( "click", function() {
                    var listitem = $( this ).parent( "li" );

                    confirmAndDelete( listitem );
                });
            }

            function confirmAndDelete( listitem, transition ) {
                listitem.children( ".ui-btn" ).addClass( "ui-btn-active" );
                $( "#confirm .topic" ).remove();
                listitem.find( ".topic" ).clone().insertAfter( "#question" );
                $( "#confirm" ).popup( "open" );
                $( "#confirm #yes" ).on( "click", function() {
                    if ( transition ) {

                        listitem
                                .addClass( transition )
                                .on( "webkitTransitionEnd transitionend otransitionend", function() {
                                    listitem.remove();
                                    $( "#list" ).listview( "refresh" ).find( ".border-bottom" ).removeClass( "border-bottom" );
                                })
                                .prev( "li" ).children( "a" ).addClass( "border-bottom" )
                                .end().end().children( ".ui-btn" ).removeClass( "ui-btn-active" );
                    }
                    else {
                        listitem.remove();
                        $( "#list" ).listview( "refresh" );
                    }
                });
                $( "#confirm #cancel" ).on( "click", function() {
                    listitem.children( ".ui-btn" ).removeClass( "ui-btn-active" );
                    $( "#confirm #yes" ).off();
                });
            }
        });
    </script>
    <style>
        /* Left transition */
        li.left {
            -webkit-transition: -webkit-transform 250ms ease;
            -webkit-transform: translateX(-100%);
            -moz-transition: -moz-transform 250ms ease;
            -moz-transform: translateX(-100%);
            -o-transition: -o-transform 250ms ease;
            -o-transform: translateX(-100%);
            transition: transform 250ms ease;
            transform: translateX(-100%);
        }
        /* Right transition */
        li.right {
            -webkit-transition: -webkit-transform 250ms ease;
            -webkit-transform: translateX(100%);
            -moz-transition: -moz-transform 250ms ease;
            -moz-transform: translateX(100%);
            -o-transition: -o-transform 250ms ease;
            -o-transform: translateX(100%);
            transition: transform 250ms ease;
            transform: translateX(100%);
        }
        /* Border bottom for the previous button during the transition*/
        li.left a.ui-btn,
        li.right a.ui-btn {
            border-top-width: 0;
            border-left-width: 1px;
            border-right-width: 1px;
        }
        li a.ui-btn.border-bottom {
            border-bottom-width: 1px;
        }
        /* Hide the delete button on touch devices */
        ul.touch li.ui-li-has-alt a.delete {
            display: none;
        }
        ul.touch li.ui-li-has-alt a.ui-btn {
            margin-right:0;
        }
        /* Styling for the popup */
        #confirm p {
            text-align: center;
            font-size: inherit;
            margin-bottom: .75em;
        }
    </style>

    <div data-role="page" class="jqm-demos jqm-home" id="demo-intro">
        {% include '::includes/header.html.twig' %}
        <div role="main" class="ui-content jqm-content">
            <form class="ui-filterable">
                <fieldset class="ui-grid-b">
                    <div class="ui-block-b" style="width: 70%; margin:3px;">
                        <input id="autocomplete-input" data-type="search" placeholder="Add a product...">
                    </div>
                    <div class="ui-block-c" style="width: 25%">
                        <div align="right">
                            <a href="#" class="ui-btn ui-btn-inline ui-icon-arrow-d ui-btn-icon-right" id="add-product">add</a>
                        </div>
                    </div>
                </fieldset>
            </form>
            <ul id="autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#autocomplete-input"></ul>

            {% if suggestedProduct is defined %}
            <div data-theme="a" id="popupProduct" data-role="popup" data-overlay-theme="a" data-position-to="window" class="ui-content">
                <div style="padding:20px">
                    <p>{{ suggestedProduct.description }}</p>
                    {% if suggestedProduct.image != '' %}
                        <p><img src="{{ suggestedProduct.image }}" style="width: 200px;"></p>
                    {% endif %}
                    <a href="{{ suggestedProduct.url }}" class="ui-btn ui-btn-b ui-shadow ui-corner-all">Buy now</a>
                    <a href="" id="btnPopupAddProduct" class="ui-btn ui-btn-b ui-shadow ui-corner-all">Add to wish list</a>
                    <a href="" id="btnPopupClose" class="ui-btn ui-btn-b ui-shadow ui-corner-all">No, thank you!</a>
                </div>
            </div>
            {% endif %}

            <div id="popupError" class="ui-content" data-role="popup" data-theme="a">
                <p>Sorry! An error occured.</p>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <a href="ok" id="ok" class="ui-btn ui-corner-all ui-mini ui-btn-a" data-rel="back">Ok</a>
                    </div>
                </div>
            </div>

            <ul id="list" data-count-theme="b" class="ui-listview" data-role="listview" data-icon="false"
                data-split-icon="delete">
                {% for product in productsList.productsListNotBought %}
                <li class="ui-li-has-alt ui-first-child">
                    <a class="ui-btn" href="#demo-mail">
                        <img src="../_assets/img/album-bb.jpg">
                        <h3>{{ product.name }}</h3>
                        <p><strong>{{ product.short_description }}</strong></p>
                        <span class="ui-li-count">{{ product.quantity }}</span>
                    </a>
                    {% if product.type %}
                        <a title="Remove from favorites" href="#" class="delete ui-btn ui-btn-icon-notext ui-icon-star"></a>
                    {% else %}
                        <a href="#" class="ui-btn"></a>
                    {% endif %}
                </li>
                {% endfor %}
                <li><strong>Already Bought</strong></li>
                {% for product in productsList.productsListBought %}
                    <li class="ui-li-has-alt ui-first-child">
                        <a class="ui-btn" href="#demo-mail">
                            <img src="../_assets/img/album-bb.jpg">
                            <h3>{{ product.name }}</h3>
                            <p><strong>{{ product.short_description }}</strong></p>
                            <span class="ui-li-count">{{ product.quantity }}</span>
                        </a>
                        {% if product.type %}
                            <a title="Remove from favorites" href="#" class="delete ui-btn ui-btn-icon-notext ui-icon-star"></a>
                        {% else %}
                            <a href="#" class="ui-btn"></a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <div id="confirm-placeholder" style="display: none;"><!-- placeholder for confirm --></div><!-- /popup -->
            <div id="confirm-screen" class="ui-popup-screen ui-overlay-inherit ui-screen-hidden"></div><div id="confirm-popup" class="ui-popup-container ui-popup-hidden ui-popup-truncate"><div id="confirm" class="ui-content ui-popup ui-body-a ui-overlay-shadow ui-corner-all" data-role="popup" data-theme="a">
                    <p id="question">Set this product as bought?</p>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <a href="#" id="yes" class="ui-btn ui-corner-all ui-mini ui-btn-a"
                               data-rel="back">Yes</a>
                        </div>
                        <div class="ui-block-b">
                            <a href="#" id="cancel" class="ui-btn ui-corner-all ui-mini ui-btn-a"
                               data-rel="back">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /content -->

        {% include '::includes/menu.html.twig' %}
        {% include '::includes/footer.html.twig' %}

        <script language="JavaScript">
            $( document ).on( "pagecreate", "#demo-intro", function() {
                $("#autocomplete").on("filterablebeforefilter", function (e, data) {
                    var $ul = $(this),
                            $input = $(data.input),
                            value = $input.val(),
                            html = "";
                    $ul.html("");
                    if ( value && value.length > 2 ) {
                        $ul.html( "<li><div class='ui-loader'><span class='ui-icon ui-icon-loading'></span></div></li>" );
                        $ul.listview( "refresh" );
                        $.ajax({
                            method: "POST",
                            url: "{{ path('shopping_search_products_default') }}",
                            dataType: "json",
                            data: {
                                product: $input.val()
                            }
                        }).then( function ( response ) {
                            $.each( response, function ( i, val ) {
                                html += "<li><a href='#' class='add-product-to-list'>" + val.name + "</a></li>";
                            });
                            $ul.html( html );
                            $ul.listview( "refresh" );
                            $ul.trigger( "updatelayout");
                        });
                    }
                });

                $('#add-product').click(function() {
                    addProduct($('#autocomplete-input').val().trim());
                });
                $(document).on('click', ".add-product-to-list", function(){
                    addProduct($(this).html().trim());
                    $('#autocomplete').html('');
                });

                function addProduct(product) {
                    if (product.length > 0) {
                        $.ajax({
                            method: "POST",
                            url: "{{ path('shopping_list_add_product_ajax') }}",
                            dataType: "json",
                            data: { product: product }
                        }).then( function ( response ) {
                            if (response.success == true) {
                                $('#autocomplete-input').val('');
                            }
                        });
                    }
                }

                {% if suggestedProduct is defined %}

                    function addSuggestedProductToList(prod) {
                        var $newProd =
                                $('<li class="ui-li-has-alt ui-first-child ui-li-has-count ui-li-has-thumb" style="opacity: 0.1">' +
                                        '<a class="ui-btn" href="#demo-mail">' +
                                        '<img src="' + prod.iamge + '">' +
                                        '<h3>' + prod.name + '</h3>' +
                                        '<p><strong>' + prod.shortDescription + '</strong></p>' +
                                        '<p>' + prod.description + '</p>' +
                                        //'<span class="ui-li-count"></span>' +
                                        '</a>' +
                                        '<a title="Remove from favorites" href="#" class="delete ui-btn ui-btn-icon-notext ui-icon-star"></a>' +
                                        '</li>');

                        $newProd.prependTo('#list').animate({opacity: 1}, 2000);
                    }

                    $('#btnPopupClose').on('click', function(e){
                        e.preventDefault();
                        $('#popupProduct').popup('close');
                    });

                    $('#btnPopupAddProduct').on('click', function(e) {
                        e.preventDefault();
                        $.mobile.loading('show');
                        $.post(Routing.generate('shopping_list_add_product_ajax', { productId: {{ suggestedProduct.id }} }))
                            .done(function () {
                                addSuggestedProductToList(
                                    {
                                        name: '{{ suggestedProduct.name}}',
                                        description: '{{ suggestedProduct.description}}',
                                        shortDescription: '{{ suggestedProduct.shortDescription}}',
                                        shortDescription: '{{ suggestedProduct.shortDescription}}',
                                        image: '{{ suggestedProduct.image}}'
                                    }
                                );
                                $.mobile.loading('hide');
                                $('#popupProduct').popup('close');
                            })
                            .fail(function() {
                                $.mobile.loading('hide');
                                $('#popupProduct').popup('close');
                                $('#popupError').popup('open');
                            });
                    });

                    $("#popupProduct").popup("open");

                {% endif %}
            });
        </script>

    </div><!-- /page -->

{% endblock %}
